.site-header {
	min-height: 700px;
	height: 100vh;
	background-color: $dark;
	color: #fff;
	.top-line {
		position: absolute;
		width: 100%;
		z-index: 1;
		padding-top: 40px;
	}
}
.logo {
	img {
		width: 125px;
		height: auto;
		margin-left: 45px;
	}
}
.phone {
	position: absolute;
	right: 85px;
	top: 44px;
	font-family: FiraSans, sans-serif;
	font-size: 22px;
	white-space: nowrap;
	.fas {
		color: #555;
		font-size: 22px;
		margin-right: 3px;
	}
}

.hamburger {
	position: absolute;
	right: 0;
	top: 34px;
	&-box {
		width: 34px;
	}
	&-inner, 
	&-inner::after, 
	&-inner::before {
		border-radius: 0;
		width: 34px;
		height: 2px;
		background-color: #fff;
	}
}
.mm-navbar {
	height: auto;
	position: relative;
	.mm-title {
 		img {
			width: 128px;
			height: auto;
			margin: 10px 0 35px;
		}
	}
}